/* fil d'Ariane */
#breadcrumbs-exam {
  margin: 10px 0;
  font-size: 1em;
  text-align: center;
}

#breadcrumbs-exam nav ul {
  padding-left: 0;
}

#breadcrumbs-exam ul {
  display: flex;
}

#breadcrumbs-exam ul li {
  display: inline;
  padding: 0;
}

#breadcrumbs-exam ul li a {
  display: inline;
}

#breadcrumbs-exam ul li+li:before {
  padding: 8px;
  content: ">\00a0";
}

#breadcrumbs-exam ul li:last-child {
  font-weight: bold;
}

#breadcrumbs-exam ul li:last-child::after {
  content: "";
}

/* FONTS */
.font-alkatra {
  font-family: "Alkatra", system-ui;
  font-weight: bold;
  font-style: normal;
}

.font-bungee-tint-regular {
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* TABLEAUX*/
.table,
tbody,
tfoot,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.th,
thead {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

/*FOCUS ET SURVOL*/
input:focus {
  background-color: rgb(223, 223, 139);
  width: 250px;
}

.formulaire select:hover {
  background-color: rgb(223, 223, 139);
  color: black;
}

.formulaire input:hover {
  background-color: rgb(223, 223, 139);
  color: black;
}

.formulaire textarea:hover {
  background-color: rgb(223, 223, 139);
  color: black;
}

/*CHAMP INVALIDE*/
.formulaire input:not(:valid) {
  background-color: pink;
}

/*FOLDED HANDS*/
label::after{
  content: " ";
  margin-left: 8px;
}

#vingt:checked + label::after{
  content:  "\1F64F";
}

/*DISPLAY NONE*/
.display-none{
  display: inline-block;
}

@media screen and (max-width: 400px){
.display-none{
  display: none;
}
}

input[type="radio"] + label,
input[type="checkbox"] + label {
    display: inline-block !important;
}


/*ARRIERE PLAN*/
.background-image {
  background-image: url('../../images/backgrounds/subventions.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10%;

}

/*FILIGRANE*/

/*CENTRER TABLEAU*/
table {
  margin: 0 0 2em 0;
  width: 100%;
}

table td {
  padding: 0.75em 0.75em;
}

table th {
  color: #ffffff;
  font-size: 0.9em;
  font-weight: 600;
  padding: 0 0.75em 0.75em 0.75em;
  text-align: center;
}

/*QUADRILLAGE TABLEAU*/

th,
tr,
td {
  border: solid 3px;
  border-color: darkblue;
  border-style: dotted;
}

/*TITRE TABLEAU*/
.font-fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 1px 3px rgb(53, 57, 252)
}

/*LIGNE SURVOLEE*/
tbody tr:hover {
  background-color: dodgerblue;
}

tbody tr td:hover {
  background-color: lightblue;
}

.iframe-vimeo{
  width: 1080px;
  height: 600px;

}
