/* fil d'Ariane */
#breadcrumbs-exam {
    margin: 10px 0;
    font-size: 1em;
    text-align: center;
  }
  
  #breadcrumbs-exam nav ul {
    padding-left: 0;
  }
  
  #breadcrumbs-exam ul {
    display: flex;
  }
  
  #breadcrumbs-exam ul li {
    display: inline;
    padding: 0;
  }
  
  #breadcrumbs-exam ul li a {
    display: inline;
  }
  
  #breadcrumbs-exam ul li+li:before {
    padding: 8px;
    content: ">\00a0";
  }
  
  #breadcrumbs-exam ul li:last-child {
    font-weight: bold;
  }
  
  #breadcrumbs-exam ul li:last-child::after {
    content: "";
  }

/* FONTS */
.font-alkatra {
    font-family: "Alkatra", system-ui;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .font-bungee-tint-regular {
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  /* TABLEAUX*/
  .table, tbody, tfoot, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  .th, thead {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }

  /*FOCUS ET SURVOL*/
  input:focus {
    background-color: rgb(223, 223, 139);
    width: 250px;
}
.formulaire select:hover {
    background-color: rgb(223, 223, 139);
    color: black;
}
.formulaire input:hover {
    background-color: rgb(223, 223, 139);
    color: black;
}
.formulaire textarea:hover {
    background-color: rgb(223, 223, 139);
    color: black;
}

 /*CHAMP INVALIDE*/
 .formulaire input:not(:valid) {
    background-color: pink;
}

/*FOLDED HANDS*/
<FontAwesomeIcon icon="fa-solid fa-hands-praying" />

/*DISPLAY NONE*/

/*ARRIERE PLAN*/

/*FILIGRANE*/

/*CENTRER TABLEAU*/

/*QUADRILLAGE TABLEAU*/

/*TITRE TABLEAU*/
.font-fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 1px 3px rgb(53, 57, 252)
}


/*OMBRE PORTEE*/

/*LIGNE SURVOLEE*/








@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Fugaz+One&display=swap');

